* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f4f4;
  font-family: "Mukta", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

nav li {
  background-color: #f4f4f4;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1.3em;
  transition: 0.5s;
  text-align: center;
}

header {
  background-color: rgb(215, 195, 239);
}
header nav .container-fluid .boton-hamburguesa {
  background-color: #f4f4f4;
  border: 3px solid;
}
header nav .container-fluid a {
  margin-right: 0;
}
header nav .container-fluid a .logo {
  width: 75px;
  margin-left: 0;
}
header nav .container-fluid div .carrito .boton-carrito {
  background-color: #f4f4f4;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  transition: 0.5s;
  text-align: center;
}

footer {
  margin-top: auto;
  background-color: rgb(215, 195, 239);
  padding: 0.5em;
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer .social ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer .social ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer .texto-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.2em;
}
footer .footer .texto-footer p {
  margin-bottom: 0;
}
@media (min-width: 500px) {
  footer .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footer .social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

nav li:hover {
  background-color: rgb(156, 135, 181);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}

a:visited {
  color: black;
}

.menu-grilla img {
  width: 150px;
  border: 5px solid rgb(195, 172, 224);
}

.icono-img {
  width: 32px;
}

@media (min-width: 500px) {
  .menu-grilla img {
    border: 8px solid rgb(195, 172, 224);
  }
  .icono-img {
    width: 50px;
  }
}
@media (min-width: 1024px) {
  .menu-grilla img {
    width: 300px;
    border: 10px solid rgb(195, 172, 224);
    border-radius: 10px;
  }
  .icono-img {
    width: 75px;
  }
}
.menu-grilla {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr;
}

@media (min-width: 500px) {
  .menu-grilla {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item item" "item item" "item item";
  }
}
@media (min-width: 1024px) {
  .menu-grilla {
    display: grid;
    gap: 2em;
    column-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.menu .menu-grilla {
  margin: 20px;
}
.menu .info-carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  gap: 8px;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */