* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f4f4;
  font-family: "Mukta", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

nav li {
  background-color: #f4f4f4;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 1.3em;
  transition: 0.5s;
  text-align: center;
}

header {
  background-color: rgb(215, 195, 239);
}
header nav .container-fluid .boton-hamburguesa {
  background-color: #f4f4f4;
  border: 3px solid;
}
header nav .container-fluid a {
  margin-right: 0;
}
header nav .container-fluid a .logo {
  width: 75px;
  margin-left: 0;
}

footer {
  margin-top: auto;
  background-color: rgb(215, 195, 239);
  padding: 0.5em;
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer .texto-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.2em;
}
footer .footer .texto-footer p {
  margin-bottom: 0;
}
@media (min-width: 500px) {
  footer .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

nav li:hover {
  background-color: rgb(156, 135, 181);
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}

a:visited {
  color: black;
}

.menu-grilla img {
  width: 150px;
  border: 5px solid rgb(195, 172, 224);
}

@media (min-width: 500px) {
  .menu-grilla img {
    border: 8px solid rgb(195, 172, 224);
  }
}
@media (min-width: 1024px) {
  .menu-grilla img {
    width: 200px;
    border: 10px solid rgb(195, 172, 224);
    border-radius: 10px;
  }
}
.menu-grilla {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr;
  margin: 10px 15px 10px 15px;
}

@media (min-width: 500px) {
  .menu-grilla {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .menu-grilla {
    display: grid;
    gap: 2em;
    column-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px 15px 0px;
}
.menu .info-carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  gap: 8px;
  padding: 5px;
}
.menu .info-carrito .section-header {
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}
.menu .info-carrito .fila-carrito {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
.menu .info-carrito .fila-carrito .carrito-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}
.menu .info-carrito .fila-carrito .columna-carrito {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-top: 10px;
}
.menu .info-carrito .fila-carrito .producto-carrito {
  width: 45%;
}
.menu .info-carrito .fila-carrito .precio-carrito {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}
.menu .info-carrito .fila-carrito .cantidad-carrito {
  width: 35%;
}
.menu .info-carrito .productos-carrito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
  }
  .info-carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    gap: 8px;
    padding: 5px;
    align-self: flex-start;
  }
}/*# sourceMappingURL=style.css.map */