* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $fondo1;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

nav li {
    background-color: $fondo1;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1.3em;
    transition: .5s;
    text-align: center;
}

header {
    background-color: $fondo;

    nav {
        .container-fluid {
            .boton-hamburguesa {
                background-color: $fondo1;
                border: 3px solid;
            }

            a {
                margin-right: 0;

                .logo {
                    width: 75px;
                    margin-left: 0;
                }
            }
        }
    }
}

footer {
    margin-top: auto;
    background-color: $fondo;
    padding: 0.5em;

    .footer {
        @include flex-row;

        .texto-footer {
            @include flex-column;
            text-align: center;
            margin: 0.2em;

            p {
                margin-bottom: 0;
            }
        }
    }

    @media (min-width: 500px) {
        .footer {
            @include flex-column;
        }
    }
}