.banner {
    @include flex-column;
    margin-top: 100px;

    h1 {
        margin: 8px;
    }
}

.productos-destacados {
    @include flex-column;
    gap: 15px;

    h2 {
        margin: 8px;
    }

    div {
        @include flex-column;
        gap: 15px;

        .box {
            @include flex-row;
            border: 4px solid $fondo;

            a {
                div {
                    padding: 5px;
                    font-weight: bold;
                }
            }
        }
    }

    @media (min-width: 500px) {
        div {
            .box {
                border: 6px solid $fondo;
            }
        }
    }

    @media (min-width: 1024px) {
        div {
            @include flex-row;
            gap: 100px;

            .box {
                border: 10px solid $fondo;
                border-radius: 10px;
            }
        }
    }
}

.chef {
    @include flex-column;
    text-align: justify;

    .chef-texto {
        margin: 0 25px 0 25px;

        p {
            margin-top: 15px;
        }
    }

    @media (min-width: 1024px) {
        .chef {
            @include flex-row;
            margin: 1em;
            gap: 0.5em;
        }
    }
}