.nosotros {
    @include flex-column;
    margin: 100px 0.5em 0.5em 0.5em;

    h1 {
        margin: 8px 8px 0 8px;
    }

    .quienes-somos, .equipo {
        @include flex-column;
        text-align: justify;
        margin-bottom: 15px;

        .nosotros-texto {
            margin: 0px;

            h2 {
                margin: 0px 8px 5px 8px;
            }

            p {
                margin: 0 10px 10px 10px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .nosotros {
        display: flex;
        gap: 15px;

        .equipo {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            gap: 5px;
        }

        .quienes-somos {
            @include flex-row;
            gap: 5px;
        }
    }
}



