.servicios {
    @include flex-column;
    margin: 100px 0.5em 0.5em 0.5em;

    h1 {
        margin: 8px
    }

    .servicios-postres, .servicios-catering, .servicios-fiesta {
        @include flex-column;
        margin: 0 8px 8px 8px;

        .servicios-texto {
            @include flex-column;
            text-align: justify;

            div {
                margin: 5px  5px 2px 5px;
            }

            p {
                margin-bottom: 8px;
            }
        }
    }

    @media (min-width: 1024px) {
        
        .servicios-postres {
            @include flex-row;
            @include margin-gap-padding;
        }

        .servicios-catering {
            @include flex-row-reverse;
            @include margin-gap-padding;
        }

        .servicios-fiesta {
            @include flex-row;
            @include margin-gap-padding;
        }
    }
}