h1 {
    margin-bottom: 0;
    text-align: center;
}


h2 {
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

.descripcion-titulo {
    font-weight: bold;
}

.nosotros-texto {
    @include flex-column;
    text-align: justify;
    margin: 8px;
}

@media (min-width: 1024px) {
    .informacion-servicios {
            font-size: 1.5em;
    }

    .informacion-nosotros {
        @extend .informacion-servicios
    }

    .servicios-texto {
        div {
            font-size: 2em;
        }
    }
}